################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MC.NetCore.Common/obj
/MC.NetCore.DataAccessSqlServerProvider/bin/Debug/netcoreapp1.1
/MC.NetCore.ShopApi/bin/Debug/netcoreapp1.1
/MC.NetCore.ShopApi/obj
/MC.NetCore.ShopApp/bin/Debug/netcoreapp1.1
/MC.NetCore.ShopApp/obj
